#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

body {
    margin: 0;
    margin-top: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

.col {
    color: #2F323A;
}


.content-wrapper {
    top: 5%;
    left: 20%;
    width: 75%;
    height: 100%;
    float: right;
    position: absolute;
}

.section-search input {
    padding: 5px;
    font-size: 18px;
    border: #2F323A 3px solid;
    margin-top: 10px
}

.card {
    width: 250px;
}

.slider {
    display: inline-block;
}

.slick-prev:before,
.slick-next:before {
    font-family: initial !important;
    color: #2F323A;
}

#searchButton {
    background-color: #2F323A;
}

#searchFilter {
    background-color: #2F323A;
}